$primary-color: lightblue;
$fw: 40%;
$fh:37%;
$ft:(100%-fh)/2;
$fl:(100%-fw)/2;

$videoContainerWidth:50%;
$chatContainerWidth:(100%-$videoContainerWidth);

form{
    background:$primary-color;
    width:$fw;
    margin:auto;
    padding:1.4em;
    border-radius: 8px;
    top:(100%-$fh)/2;
    left:(100%-$fw)/2;
    position:absolute;
}

#signup-form{
    top:10%;
}

#videocontainer, #empty-container{
    display:block;
    margin: auto;
    text-align: center;
}

#red-dot{
    display:inline;
    float:left;
}

#live-link{
    display:inline;
}

.nav-item{
    display:inline;
}

#video{
    width:$videoContainerWidth;
}

#no-stream-image{
    width:$videoContainerWidth;
}

#chatcontainer{
    width:$chatContainerWidth;
    background-size: 100%;
    background:black;
    float:left;
}

#stream-key, #server-address{
    border:2px black solid;
    background:white;
    padding:5px;
}
.invisible{
    display: none;
}
.visible-block{
    display:'block';
}