{{define "user"}}
{{template "head" .}}
{{template "navbar" .}}
<div id="videocontainer"><video id="video" autoplay></video></div>
<div id="chatcontainer"></div>

{{if .}}
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
    if(Hls.isSupported()) {
      var video = document.getElementById('video');
      var hls = new Hls();
      hls.loadSource('http://127.0.0.1:7002/live/{{.Room}}.m3u8');
      hls.attachMedia(video);
      hls.on(Hls.Events.MANIFEST_PARSED,function() {
        video.play();
    });
   }
  </script>
{{end}}
{{template "footer" .}}
{{end}}